# Actividad 2.3: Lasso - Ridge - ElasticNet Regressors
### Jorge Emilio Treviño González - #545388
### Jaime
### Gaspar

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Librería para separar los datos en train y tes
from sklearn.model_selection import train_test_split

# Librería del modelo de regresión lineal simple
from sklearn.linear_model import LinearRegression

# Librería de significancia estadística
import statsmodels.formula.api as smf

In [2]:
# Leer los datos
df = pd.read_csv('Walmart.csv')
print(df.shape)
df.head(3)
#Store

(6435, 8)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106

In [3]:
# Leer los datos
df = pd.read_csv('insurance.csv')
print(df.shape)
df.head(3)
#BMI

(1338, 7)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620